*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "GT Eesti Text", Helvetica, sans-serif;
  font-size: 120%;
  line-height: 1.3;
  color: #181717;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5eb;
}

#root {
  display: block;
  text-align: left;
}
